.groupName{
    background-color: black;
    color: white;
    font-size: larger;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    float: center;
    text-align: center;
    border: 2px double white;
}